.project-card {
  border-radius: 12px;
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.project-img {
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.blackBG {
  background-color: black !important;
}

.whiteBG{
  background-color: white !important;
}

.blackTx{
  color:black;
}

.whiteTx{
  color:white;
}